#secondimage {
    width: 100%;

    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

#mainHeadlineContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: calc(.5em + .5vw);
    left: 50%;
    transform: translate(-50%);
    gap: calc(1.5em + 3vw);
}

.subHeadlineContainer {
    margin-left: calc(1.5em + 1.5vw);
    margin-right: calc(1.5em + 1.5vw)
}

.headlines {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: calc(.7em + 1vw);
}

.description {
    color: #999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: calc(.4em + .4vw);
    max-width: 400px;
    overflow-wrap: break-word;
    line-height: 95%;
}